<div class="well page">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		<h1 class="display-4">TELCEL</h1>
		<p class="lead">DEMO - Look & Feel - Distribuidores</p>
		</div>
	</div>
	</br>
   	<div class="form-group" align="right">
        <label >Hola {{user.username}} - su saldo estimado es: ??</label>
    </div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Men&uacute; Principal</a>
		<button
			class="navbar-toggler" 
			type="button" 
			data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a 
						class="nav-link dropdown-toggle"
						id="navbarDropdown"
						role="button" 
						data-toggle="dropdown" 
						aria-haspopup="true"
						aria-expanded="false">
							Operaci&oacute;n
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item disabled" aria-disabled="true">Transacciones</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" ng-click="receptionDG()">Dep&oacute;sitos en Garant&iacute;a</a>
						<a class="dropdown-item">TPF</a>
						<div class="dropdown-divider"></div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a 
						class="nav-link dropdown-toggle"
						id="navbarDropdown"
						role="button" 
						data-toggle="dropdown" 
						aria-haspopup="true"
						aria-expanded="false">
							Administraci&oacute;n
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item disabled" aria-disabled="true">Reportes</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" ng-click="receptionRDG()">Dep&oacute;sitos en Garant&iacute;a</a>
						<a class="dropdown-item">RPF</a>
						<div class="dropdown-divider"></div>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a 
						class="nav-link dropdown-toggle"
						id="navbarDropdown"
						role="button" 
						data-toggle="dropdown" 
						aria-haspopup="true"
						aria-expanded="false">
							Utiler&iacute;as
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<div class="dropdown-divider"></div>
						<a class="dropdown-item disabled" aria-disabled="true">Manuales</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item">Manual Dep. Gar.</a>
						<a class="dropdown-item">MPF</a>
						<div class="dropdown-divider"></div>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>