<div class="well page">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		<h1 class="display-4">TELCEL</h1>
		<p class="lead">DEMO - Look & Feel - Distribuidores</p>
		</div>
	</div>
	<form name="flogin">
	    <div class="form-group label-floating">
	        <label for="username">*Usuario</label>
	        <input id="username" class="form-control" type="text" ng-model="user.username" minlength="8" maxlength="8" required>
	    </div>
	    <div class="form-group label-floating">
	        <label for="password">*Contrase&ntilde;a</label>
	        <input id="password" class="form-control" type="password" ng-model="user.password" minlength="5" maxlength="8" required>
	    </div>
	</form>
    <div class="form-group label-floating">
	    <button class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled="flogin.$invalid">
	        <i class="far fa-user"></i>
	        Iniciar Session
	    </button>
    </div>
</div>