<div class="well page">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">TELCEL</h1>
			<p class="lead">DEMO - Look & Feel - Distribuidores</p>
		</div>
	</div>
	</br>
	<h2 class="panel-title">Reporte Dep&oacute;sitos en Garant&iacute;a</h2>
	</br>
	</br>
	
	
	<form name="fRequestRDG">
		<h4 class="panel-title">Tipo de Reporte</h4>
		<hr>
		<div class="form-group form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tipoReporte" id="option01" value="option01" ng-model="filter.tipo_reporte">
			<label class="form-check-label" for="option01">Mis Dep&oacute;sitos</label>
		</div>
		<div class="form-group form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tipoReporte" id="option02" value="option02" ng-model="filter.tipo_reporte">
			<label class="form-check-label" for="option02">Dep&oacute;sitos por Agente de Cobranza</label>
		</div>
		<div class="form-group form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tipoReporte" id="option03" value="option03" ng-model="filter.tipo_reporte">
			<label class="form-check-label" for="option03">General</label>
		</div>
		</br>
		
		<h4 class="panel-title">Seleccion de Agente de Cobranza</h4>
		<hr>
	    <div class="form-group">
	        <label for="agente">*Agentes de Cobranza</label>
	        <select id="agente" class="form-control" ng-model="filter.agente_cobranza.id" required>
	            <option value="" ng-selected="!filter.agente_cobranza.id">SIN AGENTE DE COBRANZA SELECCIONADO</option>
	            <option ng-repeat="agente in agentes" ng-selected="filter.agente_cobranza.id == agente.id" value="{{agente.id}}">
	                {{agente.username}}
	            </option>
	        </select>
	    </div>
		</br>
		
		<h4 class="panel-title">Rango de Fechas</h4>
		<hr>
		<div class="form-group" ng-controller="DateTimePickerController">
			<div class="row">
				<div class="col-md-6">
					<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup ng-model="filter.rangeStart" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open1()">
								<i class="fas fa-calendar-day"></i>
							</button>
						</span>
					</p>
				</div>
				<div  class="col-md-6">
					<p class="input-group">
						<input type="text" class="form-control" uib-datepicker-popup ng-model="filter.rangeEnd" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open2()">
								<i class="fas fa-calendar-day"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
		</div>
		</br>
		
		<h4 class="panel-title">Tipo de Resultados</h4>
		<hr>
		<div class="form-group form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tipoResultado" id="option01" value="option01" ng-model="filter.tipo_resultado">
			<label class="form-check-label" for="option01">Exitosos</label>
		</div>
		<div class="form-group form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tipoResultado" id="option02" value="option02" ng-model="filter.tipo_resultado">
			<label class="form-check-label" for="option02">Fallidos</label>
		</div>
		<div class="form-group form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tipoResultado" id="option03" value="option03" ng-model="filter.tipo_resultado">
			<label class="form-check-label" for="option03">Todos</label>
		</div>
		</br>
	</form>
	
	
	<div class="form-group label-floating">
		<button class="btn btn-lg btn-primary btn-block" ng-click="requestRDG()" ng-disabled="fRequestRDG.$invalid">
			<i class="far fa-chart-bar"></i>
			Enviar Solicitud
		</button>
	</div>
	
	
</div>