<div class="well page">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		<h1 class="display-4">TELCEL</h1>
		<p class="lead">DEMO - Look & Feel - Distribuidores</p>
		</div>
	</div>
	</br>
    <h2 class="panel-title">Recepci&oacute;n de Dep&oacute;sitos en Garant&iacute;a</h2>
    </br>
	<form name="fdgarantia">
	    <div class="form-group">
	        <label>El saldo actual de cobro para &eacute;ste servicio es: {{saldo_cobro}}</label>
	    </div>
	    <div class="form-group">
	        <label for="nombre_titular">*Nombre del titular</label>
	        <input id="nombre_titular" class="form-control" ng-model="dgarantia.nombre_titular" maxlength="32" required>
	    </div>
	    <div class="form-group">
	        <label for="importe">*Importe</label>
		    <div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">$</span>
					<span class="input-group-text">0.00</span>
				</div>
				<input id="importe" type="text" class="form-control" ng-model="dgarantia.importe" aria-label="Dollar amount (with dot and two decimal places)">
			</div>
	    </div>
	    <div class="form-group">
	        <label for="telefono">*Tel&eacute;fono</label>
	        <input id="telefono" class="form-control" ng-model="dgarantia.telefono" minlength="10" maxlength="10">
	    </div>
	    <div class="form-group">
	        <label for="concepto">*Concepto del dep&oacute;sito</label>
	        <select id="concepto" class="form-control" ng-model="dgarantia.concepto.id" required>
	            <option value="" ng-selected="!dgarantia.concepto.id">SIN CONCEPTO SELECCIONADO</option>
	            <option ng-repeat="concepto in conceptos" ng-selected="dgarantia.concepto.id == concepto.id" value="{{concepto.id}}">
	                {{concepto.descripcionConcepto}}
	            </option>
	        </select>
	    </div>
	</form>
	<div class="form-group label-floating">
	    <button class="btn btn-lg btn-primary btn-block" ng-click="applyDG()" ng-disabled="fdgarantia.$invalid">
	        <i class="far fa-check-circle"></i>
	        Enviar Solicitud
	    </button>
    </div>
</div>