<div class="well page">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		<h1 class="display-4">TELCEL</h1>
		<p class="lead">DEMO - Look & Feel - Distribuidores</p>
		</div>
	</div>
	</br>
    <h2 class="panel-title">Resultado Dep&oacute;sito en Garant&iacute;a</h2>
    </br>
    <div class="form-group">
        <label>Fecha: {{dgarantia.format_date}}</label>
        </br>
        <label>Recepci&oacute;n del Dep&oacute;sito en Garant&iacute;a al Tel&eacute;fono: {{dgarantia.telefono}} por: {{dgarantia.importe}}</label>
        </br>
        <label>Folio Telcel: {{dgarantia.id}}</label>
        </br>
        <label>Estatus: {{dgarantia.status}} </label>
        </br>
    </div>
    <div class="form-group label-floating">
	    <button class="btn btn-lg btn-primary btn-block" ng-click="createPdfDG()">
	        <i class="far fa-file-pdf"></i>
	        Generar Comprobante
	    </button>
    </div>
</div>